#gameCanvas {
    display: block;
    background-color: black;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container#main {
    flex-direction: column;
    gap: 20px;
}

.container#buttons {
    gap: 100px;
}

button {
    padding: 5px 20px;
}